@import url(https://fonts.googleapis.com/css?family=Open+Sans:regular,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);
/* =============================== */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul,
ol,
li {
    list-style: none;
}

img  {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
}
/* =============================== */
body {
    line-height: 23px;
    font-size: 13px;
    color: #48555B;
    font-family: Open Sans;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}
/* =============================== */
[class*="__container"] {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (max-width: 990.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}

/* header */

.header {

}

.header::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: #E6E6E6;
}

.header__big-pic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100vh;
    width: 100vw;

    background-image: url(../img/big-pic__background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    padding: 41px 0 71px 0;
}
/* =============================== */
.big-pic {

}

.big-pic__up-part {

}

.big-pic__img {

}

.big-pic__center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.big-pic__center-1 {
    font-family: Bebas Neue;
    font-size: 3.75rem;
    
    color: #fff;
}

.big-pic__center-2 {
    font-weight: 600;
    font-size: 1rem;

    line-height: 19px;

    color: #fff
}

.big-pic__down-part {
    font-weight: 600;
    font-size: 0.68rem;

    letter-spacing: 3.7px;
    
    color: #fff;

    cursor: pointer;
}

@media (max-width: 990.98px) {
    .big-pic__center {
        gap: 1rem;
    }

    .big-pic__center-1 {
        font-size: 3.25rem;
    }

    .big-pic__center-2 {
        font-size: 0.8rem;
    }

    .big-pic__down-part {
        font-size: 0.5rem;
    }
}

@media (max-width: 767.98px) {
    .big-pic__center {
        gap: 0.8rem;
    }

    .big-pic__center-1 {
        font-size: 2.4rem;
    }

    .big-pic__center-2 {
        font-size: 0.5rem;
    }

    .big-pic__down-part {
        font-size: 0.5rem;
    }
}
/* =============================== */
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 4.06rem;
}

.header__logo {
    display: flex;
}

.header__menu {

}

.header__burger {
    display: none;
}

.header__burger.active {

}

@media (max-width: 767.98px) {
    .header__container {
        justify-content: center;
    }

    .header__burger {
        z-index: 5;
        display: block;
        position: fixed;
        top: 15px;
        right: 15px;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    
    .header__burger span, 
    .header__burger::before, 
    .header__burger::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #00A4E5;
    }

    .header__burger::before, 
    .header__burger::after {
        content: '';
    }

    .header__burger::before {
        top: 0;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .header__menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
        background-color: rgba(0, 0, 0, 1);
        padding: 60px 0;
        transition: all 0.3s ease 0s;
        transform: translate(-100%, 0px);
    }
    .header__menu._active {
        transform: translate(0px, 0px);
    }
}
/* =============================== */
.menu {
    
}

.menu__list {
    display: flex;
    gap: 3rem;
}

.menu__item {

}

.menu__link {
    font-size: 0.75rem;
    line-height: 0.875rem;
    font-weight: 600;

    transition: all 0.2s ease 0s;

    color: #48555B;
}

.menu__link:hover {
    color: #00A4E5;
}

@media (max-width: 990.98px) {
    .menu__link {
        font-size: 0.7rem;
    }
}

@media (max-width: 767.98px) {
    .menu__link {
        font-size: 0.55rem;
        color: white;
    }
    .menu__list {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
}

/* main */

.main {
    margin: 58px 0 0 0 ;
}


.main__story {

}
/* story */
.story {
    display: flex;
    flex-direction: column;
}

.story__container {

}

.story__h {
    text-align: center;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.625rem;

    font-weight: 700;
    font-size: 1.125rem;
    letter-spacing: 0.144125rem;
}

.story__h::after {
    display: block;

    content: '';

    width: 3.125rem;
    height: 0.125rem;

    background: #00A4E5;
}

.story__div {
    margin-top: 4.375rem;

    display: flex;
    gap: 4.8075rem;
    justify-content: flex-end;
}

.story__left-div {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    justify-content: flex-end;

}

.story__left-up {
    font-weight: 700;
    font-size: 1.25rem;
    letter-spacing: 0.1875px;
}

.story__span {
    color: #16ACE8;
}

.story__left-down {
    font-weight: 400;
}

.story__right-div {
    display: flex;
    align-items: flex-end;
}

.story__list {
    display: flex;
    gap: 1.25rem;
}

.story__item {
    height: 14rem;
    width: 8.75rem;
}

.story__item:hover {
    box-shadow: rgba(22, 172, 232, 0.5);

}

.story__link {
    display: inline-block;

    height: inherit;
    width: inherit;

    font-weight: 800;
    font-size: 1.5rem;
    color: white;
    padding: 15px 0 0 14px;
    line-height: 1.812rem;

    transition: all 0.3s ease 0s;
}

.story__link:hover {
    box-shadow: 0 0 5px rgba(22, 172, 232, 0.5);
    transform: scale(1.1);
}

.story__link-1 {
    background-image: url(../img/strory__1.jpg);
    background-size: inherit;
}

.story__link-2 {
    background-image: url(../img/story__2.jpg);
}

.story__link-3 {
    background-image: url(../img/story__3.jpg);
}

@media (max-width: 990.98px) {
    .story__left-up {
        font-size: 1rem;
    }

    .story__link {
        font-size: 1.2rem;
    }

    .story__link:hover {
        transform: none;
    }

    .story__item {
        height: 12rem;
        width: 6.75rem;
    }

    .story__div {
        gap: 1.8075rem;
        align-items: end;
    }

    .story__list {
        gap: 0.5rem;
    }

    .story__left-down {
        font-size: 0.7rem;
    }

    .story__left-down {
        gap: 1.4rem;
    }
}

@media (max-width: 767.98px) {
    .story__div {
        flex-direction: column;
        align-items: center;

        margin-top: 1rem;
    }

    .story__left-div {
        gap: 1rem;
        width: 70%;
    }

    .story__left-up {
        text-align: center;
    }

    .story__left-down {
        text-align: center;
    }

    .story__item {
        height: 11rem;
        width: 5.75rem;
    }

    .story__link {
        font-size: 1rem;
    }
}

/* capabilities */

.main__capabilities {
    
}

.capabilities {
    margin-top: 7.437rem;
}

.capabilities__container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.capabilities__up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.capabilities__left-h {
    font-size: 1.125rem;
    font-weight: 700;
}

.capabilities__left-h::after {
    content: '';
    display: block;
    width: 3.125rem;
    height: 0.125rem;
    background: #00A4E5;

    margin-top: 0.625rem;
}

.capabilities__up-right {
    display: flex;
    align-items: center;
    gap: 1.9rem;
}

.capabilities__right-p {
    max-width: 28rem;

    font-size: 0.6875rem;
}

.capabilities__button {
    width: 9.375rem;
    height: 2.5rem;

    background-color: #00A4E5;
    color: white;

    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
}

.capabilities__down {

}

.capabilities__list {
    display: flex;
    gap: 1.75rem;
}

.capabilities__item {
    width: 18.475rem;
    height: 20.626rem;
    border: 1px solid #E6E6E6;

    padding: 2.4375rem 1.4375rem;

    gap: 0.81rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.capabilities__img {
    width: 29%;
}

.capabilities__h4 {
    font-weight: 700;
    font-size: 1rem;
}

.capabilities__p {

}

@media (max-width: 767.98px) {
    .capabilities__up {
        flex-direction: column;
        gap: 1rem;
    }

    .capabilities__button {
        min-width: 5.769rem;
    }

    .capabilities__container {
        gap: 2rem;
    }

    .capabilities__p {
        font-size: 0.6875rem;
    }

    .capabilities__h4 {
        font-size: 0.875rem;
    }

    .capabilities__item {
        width: 11.475rem;
        height: 18.626rem;
        padding: 1.4375rem 1.4375rem;
        gap: 0.3rem;
        justify-content: flex-start;
    }

    .capabilities__list {
        flex-direction: column;
        align-items: center;
    }
}

/* get-it-touch */

.main__get-in-touch {

}

.get-in-touch {
    margin-top: 7.18rem;
}

.get-in-touch__h {
    font-size: 1.875rem;
    font-weight: 700;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.get-in-touch__button {
    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: 700;

    background-color: #00A4E5;

    width: 9.375rem;
    height: 2.5rem;
}

@media (max-width: 990.98px) {
    .get-in-touch {
        margin-top: 0;
    }

    .get-in-touch__h {
        font-size: 1.562rem;
    }
}

@media (max-width: 767.98px) {
    .get-in-touch__h {
        font-size: 1.3rem;
    }

    .get-in-touch__button {
        width: 8rem;
        height: 2.2rem;
    }
}

.get-in-touch__block-one {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.1875rem;
    flex-direction: column;

    background-image: url(../img/get-in-touch.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 65vh;
    width: 100vw;
}

.get-in-touch__block-two {
    background: #171819;

    height: 14vh;
    
    display: flex;
    gap: 3.75rem;
    justify-content: center;
    align-items: center;
}

.get-in-touch__newsletter {
    font-size: 1.375rem;
    font-weight: 700;
    color: white;
}

.get-in-touch__news-form {
    width: 25rem;
    height: 2.5rem;

    display: flex;
}

.get-it-touch__email-input {
    width: 62.5%;

    padding: 0.625rem;

    outline: none;
}

.get-in-touch__news-btn {
    width: 37.5%;

    font-weight: 700;

    cursor: pointer;

    background: #00A4E5;
    color: white;
}

@media (max-width: 767.98px) {
    .get-in-touch__block-two {
        height: 28vh;
        gap: 1rem;
        flex-direction: column;
    }

    .get-in-touch__newsletter {
        font-size: 1.15rem;
    }

    .get-in-touch__news-form {
        width: 16rem;
        height: 2rem;
    }

    .get-in-touch__news-btn {
        font-size: 0.8rem;
    }
}

/* footer */

.footer {
    background: #141A20;
}

.footer__container {
    display: flex;
    flex-direction: column;
}

.footer__up {
    color: #fff;

    display: flex;
    gap: 3.125rem;
    align-items: flex-start;

    padding: 42px 0 40px 0;
}

.footer__up-common {

}

.footer__up-1 {
    margin-right: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.footer__up1-h {
    letter-spacing: 0.846154px;
}

.footer__up1-logo {
    max-width: 6.312rem;
}

.footer__up1-p {
    letter-spacing: 0.85px;
}

.footer__up-2 {

}

.footer__up2-list {
    display: flex;
    gap: 2.125rem;
}


.footer__up2-item1 {

}

.footer__up2-sublist1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    letter-spacing: 0.846154px;
}

.footer__up2-1subitem{
    
}

.footer__up2-1subitem1 {

}

.footer__up2-subitem1-h {

}

.footer__up2-1subitem2 {

}

.footer__up2-link {
    color: white;
    font-weight: 600;
}

.footer__up2-1subitem3 {

}

.footer__up2-1subitem4 {

}

.footer__up2-1subitem5 {

}

.footer__up2-1subitem6 {
    min-width: 5.6rem;
}

.footer__up2-item2 {
    margin-top: 2.43rem;
}

.footer__up2-sublist2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    letter-spacing: 0.846154px;
}

.footer__up2-2subitem1 {

}

.footer__up2-2subitem2 {

}

.footer__up2-2subitem3 {

}

.footer__up2-item3 {
    margin-top: 2.43rem;
}

.footer__up2-sublist3 {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    letter-spacing: 0.846154px;
}

.footer__up2-3subitem1 {

}

.footer__up2-3subitem2 {

}

.footer__up2-3subitem3 {

}

.footer__up-3 {
    
}

.footer__up3-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    letter-spacing: 0.846154px;
}

.footer__up3-item1 {

}

.footer__up3-item2 {

}

.footer__up3-item2-1 {

}

.footer__up3-item2-2 {

}

.footer__up3-item2-3 {

}

.footer__up3-item2-4 {

}

.footer__up-4 {
    display: flex;
    gap: 1.562rem;

    margin-top: 2.43rem;
}

.footer__up4-link1 {

}

.footer__up4-img1 {

}

.footer__up4-link2 {

}

.footer__up4-img2 {

}

.footer__up4-link3 {

}

.footer__up4-img3 {

}

.footer__down {
    background: #171819;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__down-text {
    color: white;
}

@media (max-width: 990.98px) {
    .footer__up {
        gap: 1.5rem;
    }

    .footer__up1-p {
        font-size: 9px;
    }

    .footer__up2-list {
        gap: 1rem;
    }

    .footer__up2-link {
        font-size: 10px;
    }

    .footer__up2-sublist1 {
        gap: 0.5rem;
    }

    .footer__up2-1subitem6 {
        min-width: 4.4rem;
    }

    .footer__up3-list {
        gap: 0.5rem;

        font-size: 10px;
    }

    .footer__up2-sublist2 {
        gap: 0.5rem;
    }

    .footer__up2-sublist3 {
        gap: 0.5rem;
    }
}

@media(max-width: 767.98px) {
    .footer__up {
        flex-direction: column;
        align-items: center;

        padding: 42px 0 10px 0;
    }

    .footer__up-1 {
        align-items: center;

        margin-right: 0;
    }

    .footer__up1-p {
        text-align: center;
    }

    .footer__up2-list {
        flex-direction: column;
        gap: 2rem;
    }

    .footer__up2-item2 {
        margin-top: 0;
    }

    .footer__up2-item3 {
        margin-top: 0;
    }

    .footer__up2-sublist1 {
        align-items: center;
    }

    .footer__up2-sublist2 {
        align-items: center;
    }

    .footer__up2-sublist3 {
        align-items: center;
    }

    .footer__up3-list {
        align-items: center;
    }

    .footer__up3-item2 {
        text-align: center;
    }
    
    .footer__down-text {
        font-size: 11px;
    }
}


